@import '../base.scss';

.back {
  width: 35px;
  height: 35px;
  margin: 20px;
  position: fixed;
  top: 0;
  left: 0;
  path {
    transition: fill 0.1s linear;
  }
  &:hover {
    cursor: pointer;
    path {
      fill: white;
    }
  }
}
