.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: lightcyan;
  border-radius: 15px;
  width: 40%;
  min-width: 200px;
  max-width: 600px;
  margin: 10px 0 0 0;
  padding: 20px;
}

.card.secondary {
  background-color: white;
  width: 100%;
}

.card.hoverable {
  transition: box-shadow 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.75);
  }
}
