.container {
  margin: 70px 50px;
  perspective: 200px;
  perspective-origin: 50% 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.timer {
  font-size: 32px;
  margin: 30px;
}

.buttonsContainer {
  width: '100%';
  display: flex;
  flex-direction: row;
}

.button {
  flex: 1;
  padding: 10px 20px;
}
.button:hover {
  cursor: pointer;
}

.timerContainer {
  height: 100px;
  position: relative;
}

.animatedContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: red;
  transform-origin: 50% 0%;
  -webkit-perspective: 200px;
}

.animatedContainer.enter {
  transform: rotateX(0deg);
}

.animatedContainer.exit {
  transform: rotateX(0deg);
}

.animatedContainer.exitActive {
  transition: transform 750ms linear, background-color 750ms linear;
  background-color: darkred;
  transform: rotateX(250deg);
}

.animatedContainer.exitDone {
  display: none;
}
